{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "arrow-parens": [
            "error",
            "always"
        ],
        "react/default-props-match-prop-types": [
          {
            "allowRequiredDefaults": false
          }
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "no-bitwise": [
            "error",
            {
                "allow": [
                    "^"
                ]
            }
        ],
        "react/no-unused-prop-types": [
            1
        ],
        "jsx-a11y/anchor-is-valid": [ "error", {
          "components": [ "Link" ],
          "specialLink": [ "to" ]
        }]
    },
    "env": {
        "browser": true,
        "jest": true
    }
}
